:root {

    /***** font-family *****/
    --font-primary: "Outfit", serif;

    /***** font-size *****/
    --fs-sm: 18px;
    --fs-md: 24px;
    --fs-lg: 48px;

    /***** line-height *****/
    --lh-24: 24px;
    --lh-27: 27px;
    --lh-30: 30px;
    --lh-33: 33px;
    --lh-56: 56.64px;
    --lh-59: 59.52px;

    /***** color *****/
    --color-white: white;
    --color-black: black;
    --color-jupiter: #E2E2E2;
    --color-kakitsubata-blue: #3E63AA;
    --color-boatswain: #203257;
    --color-ironside: #7C7E82;
    --bg-pico-void: #192C50;
}

/***** font-family *****/
.font-primary {
    font-family: var(--font-primary);
}

/***** font-size *****/
.fs-sm {
    font-size: var(--fs-sm);
}

.fs-md {
    font-size: var(--fs-md);
}

.fs-lg {
    font-size: var(--fs-lg);
}

/***** line-height *****/
.lh-24 {
    line-height: var(--lh-24);
}

.lh-27 {
    line-height: var(--lh-27);
}

.lh-30 {
    line-height: var(--lh-30);
}

.lh-33 {
    line-height: var(--lh-33);
}

.lh-56 {
    line-height: var(--lh-56);
}

.lh-59 {
    line-height: var(--lh-59);
}

/***** color *****/
.color-kakitsubata-blue {
    color: var(--color-kakitsubata-blue);
}

@media (max-width:767.98px) {
    :root {
        --fs-lg: 42px;
        --lh-59: normal;
    }
}

@media (max-width:575.98px) {
    :root {
        --fs-md: 21px;
        --fs-lg: 35px;
    }

    .fs-14 {
        font-size: 14px !important;
    }

    .fs-12 {
        font-size: 13px !important;
    }

    .gap-10 {
        gap: 4px !important;
    }
}