@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url(./root.css);

.bg-image {
    background-image: url(../image/png/header-bg-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 520px;
}

.bg-iamge-2 {
    background-image: url(../image/png/slider-bg-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 560px !important;
}

.bg-image-3 {
    background-image: url(../image/png/section-5-img.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-image-4 {
    background-image: url(../image/png/Footer-bg-img.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.background-color {
    background: #192C50 !important;
    backdrop-filter: blur(14.300000190734863px)
}

/***** max-width *****/
.max-w-215 {
    max-width: 215px;
}

.max-w-326 {
    max-width: 326px;
}

.max-w-363 {
    max-width: 363px;
}

.max-w-454 {
    max-width: 454px;
}

.max-w-658 {
    max-width: 658px;
}

.max-w-688 {
    max-width: 688px;
}

.max-w-755 {
    max-width: 755px;
}

.wax-w-758 {
    max-width: 758px;
}

.max-w-762 {
    max-width: 762px;
}

.max-w-888 {
    max-width: 888px;
}

.max-w-934 {
    max-width: 934px;
}

.max-w-976 {
    max-width: 976px;
}

.max-w-1140 {
    max-width: 1140px;
}

.py-12 {
    padding-top: 12px;
    padding-bottom: 12px;
}

.pt-12 {
    padding-top: 12px;
}

.pb-12 {
    padding-bottom: 12px;
}

.py-19 {
    padding-top: 19px;
    padding-bottom: 19px;
}

.pb-51 {
    padding-bottom: 51px;
}

.mt-7 {
    margin-top: 7px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-12 {
    margin-bottom: 12px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-40 {
    margin-top: 40px;
}

.mb-68 {
    margin-bottom: 68px;
}

.mt-104 {
    margin-top: 104px;
}

.mb-104 {
    margin-bottom: 104px;
}

.mt-120 {
    margin-top: 120px;
}

.mt-150 {
    margin-top: 150px;
}

.mb-150 {
    margin-bottom: 150px;
}

.gap-12 {
    gap: 12px;
}

.gap-20 {
    gap: 20px;
}

/***** nav-bar *****/
.menu-lines {
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    display: flex;
    transition: all 300ms linear;
    transform-origin: left;
    border-radius: 10px;
}

.cursor-pointer {
    cursor: pointer;
}

.rotate42 {
    transform: rotate(42deg);
}

.z-5 {
    z-index: 5;
}

.rotate43 {
    transform: rotate(-43deg);
}

.nav-btn {
    padding: 14px 32px 14px 32px;
    border: 1px solid var(--color-white);
    backdrop-filter: blur(4px);
    transition: 0.3s linear;
}

.nav-btn:hover {
    color: var(--color-kakitsubata-blue) !important;
    background-color: var(--color-white) !important;
}

.navbar-link {
    display: inline-block;
}

.navbar-link:after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: var(--color-white);
    transition: all 300ms linear;
}

.navbar-link:hover:after {
    width: 100%;
}

/***** section-2 *****/
.section-2-img {
    max-width: 645px;
    height: 386px;
    width: 100%;
}

/***** slider *****/
.card-1 {
    width: 267px;
    height: 184px !important;
    border-radius: 12px;
    background: var(--color-white);
    backdrop-filter: blur(4px);
    box-shadow: 0px 2px 3.7px 0px #0000001A;
}

.slick-track {
    display: flex !important;
    gap: 24px;
    margin-top: 48px;
    margin-bottom: 22px;
}

.slick-dots li {
    background-color: var(--color-ironside) !important;
    width: 12px !important;
    height: 12px !important;
    border-radius: 24px;
    margin-top: 24px;
    padding-top: 24px;
}

.slick-dots li.slick-active {
    background-color: var(--color-boatswain) !important;
    width: 12px !important;
}

.slick-dots li button {
    display: none !important;
}

/***** section-4 *****/
.section-4-img {
    width: 622px;
    height: 440px;
    border-radius: 12px;
    object-fit: cover;
}

.card-border {
    width: 354px !important;
    /* width: 100%; */
    height: 440px;
    border-radius: 12px;
    padding: 24px;
    border: 1px solid var(--color-jupiter);
}

.box-shadow {
    background: #FFFFFF33;
    width: 100%;
    box-shadow: 0px 0px 10px 0px #0000001A;
    padding: 44px 60px 44px 60px;
    border-radius: 24px;
}

.vertical-line {
    width: 46px;
    height: 2px;
    rotate: -90deg;
    border-radius: 52px;
    background-color: #3E63AA;
    margin-top: -12px;
    margin-bottom: 12px;

}

/***** section-5 *****/
.circle {
    width: 46px !important;
    height: 46px !important;
    border-radius: 52px;
    padding: 8px 14px 8px 14px;
    color: var(--color-black);
    background: var(--color-white);
    border: 1px solid var(--color-kakitsubata-blue);
    cursor: pointer;
}

.circle:hover {
    background: var(--bg-pico-void);
    color: var(--color-white) !important;
}

.border-outside {
    background: var(--color-white);
    border-radius: 4px;
    padding: 20px;
    border: 1px solid var(--color-jupiter);
    backdrop-filter: blur(4px);
}

/***** footer *****/
.box {
    max-width: 1140px;
    width: 100%;
    min-height: 336px;
    border-radius: 24px;
    background: var(--color-boatswain);
    padding: 60px 92px 60px 92px;
    transform: translateY(0%);
}

.box-img {
    bottom: 0;
    left: 0;
    z-index: -1;
}

.box-img-2 {
    right: 0;
    bottom: 0;
    z-index: -1;
}

.btn-2 {
    padding: 14px 32px 14px 32px;
    transition: 0.3s linear;
}

.btn-2:hover {
    color: var(--color-white);
    background-color: var(--color-kakitsubata-blue) !important;
}

.footer-line {
    border: 0.5px solid #000000;
}

.border-right {
    border: 1px solid #000000CC;
    width: 16px;
    rotate: -90deg;
    opacity: 40%;
}

.footer-link {
    display: inline-block;
}

.footer-link:after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: var(--color-black);
    transition: all 300ms linear;
}

.footer-link:hover:after {
    width: 100%;
}

/***** media-queries *****/
@media (max-width:991.98px) {
    .nav-link {
        display: flex !important;
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: 0;
        right: -100% !important;
        top: 0%;
        transition: all 300ms linear !important;
        /* background-color: white !important; */
        backdrop-filter: blur(80px);

        z-index: 5;
    }

    .show-navbar {
        right: 0 !important;
    }
}

@media (min-width:992px) {
    .bg-color {
        background: #3E63AA03;
        backdrop-filter: blur(10px);
    }
}

@media (max-width:767.98px) {
    .box {
        padding: 30px 45px 30px 45px;
    }
}

@media (max-width:575.98px) {
    .box-shadow {
        padding: 4px;
    }

    .card-border {
        padding: 15px;
    }

    .box {
        padding: 20px;
    }

    .vertical-line {
        display: none;
    }

    .py-12 {
        padding: 12px 0px 12px 0px;
    }

    .btn-2 {
        padding: 10px 15px 10px 15px;
    }
}